:root {
  --font-family: "Roboto", sans-serif;
}
.navbar {
  background-color: #202020;
}
.navbar-toggler {
  background-color: white;
}
.navbar a {
  color: white;
}
body {
  font-family: var(--font-family);
}
.hero-section {
  text-align: center;
  background-color: #1b1b1b;
}
.card-img-overlay {
  padding-top: 250px;
}
.hero-section h2 {
  font-size: 24px;
  color: white;
}
.hero-section h1 {
  font-size: 72px;
  color: white;
}
.hero-section p {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  margin-bottom: 50px;
}
.hero-button a {
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  background-color: white;
  color: #272142;
  text-decoration: none;
}

.homepage-row img {
  height: 250px;
  margin: 20px;
}
.second-row {
  width: 315px;
}
.second-row-last-img {
  width: 320px;
}
.frst-row-last-img {
  width: 320px;
}
.nineth-row-last-img {
  width: 320px;
}
.last-row-last-img {
  width: 320px;
}
.social-links a {
  font-size: 16px;
  margin: 0 12px;
  color: black;
  padding: 0 5px;
  border-radius: 2px;
  background-color: white;
}
.container footer {
  padding: 20px;
  background-color: #282323;
}
footer small {
  color: white;
}
footer h3 {
  color: white;
  font-size: 22px;
}
.footer {
  background-color: #282323;
}
.about-section {
  background-color: #1b1b1b;
}
.about-section h2 {
  font-size: 20px;
  color: #f65282;
}
.about-section h1 {
  font-size: 60px;
  color: white;
}
.about-section p {
  font-size: 16px;
  color: white;
  line-height: 1.6;
}
.about-image {
  height: 550px;
}
.about-section span {
  color: white;
  font-size: 16px;
  padding-left: 10px;
}
.camera-section {
  background-color: #2d2727;
  padding: 10px;
  max-width: 350px;
}
.camera-section img {
  width: 70px;
}
.about-button a {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 30px;
  background-color: white;
  color: #272142;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .card-img-overlay {
    padding-top: 250px;
  }
  .hero-section h1 {
    font-size: 72px;
  }
  .hero-section p {
    line-height: 2;
  }
  .hero-section p {
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .card-img-overlay {
    padding-top: 140px;
  }
  .hero-section h1 {
    font-size: 72px;
  }
  .hero-section p {
    line-height: 1.3;
  }
  .social-links {
    margin-bottom: 10px;
  }
  .homepage-row img {
    height: 250px;
  }
  .second-row {
    width: 250px;
  }
  .second-row-last-img {
    width: 250px;
  }
  .frst-row-last-img {
    width: 250px;
  }
  .nineth-row-last-img {
    width: 250px;
  }
  .last-row-last-img {
    width: 250px;
  }
}
@media (max-width: 730px) {
  .card-img-overlay {
    padding-top: 120px;
  }
  .hero-section h1 {
    margin: 0;
    font-size: 40px;
  }
  .hero-section h2 {
    margin: 0;
    font-size: 20px;
  }

  .hero-section p {
    line-height: 1;
    font-size: 15px;
    margin-bottom: 18px;
  }
  .hero-button a {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 30px;
  }
  .social-links {
    margin-bottom: 10px;
  }
  .homepage-row img {
    height: 250px;
  }
  .second-row {
    width: 250px;
  }
  .second-row-last-img {
    width: 250px;
  }
  .frst-row-last-img {
    width: 250px;
  }
  .nineth-row-last-img {
    width: 250px;
  }
  .last-row-last-img {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .card-img-overlay {
    padding-top: 80px;
  }
  .hero-section h1 {
    margin: 0;
    font-size: 40px;
  }
  .hero-section h2 {
    margin: 0;
    font-size: 20px;
  }
  .hero-section p {
    line-height: 1;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .hero-button a {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 30px;
  }
  .social-links {
    margin-bottom: 10px;
  }
  .hero-button {
    padding-top: 3px;
  }
  .homepage-row img {
    height: 200px;
  }
  .second-row {
    width: 200px;
  }
  .second-row-last-img {
    width: 200px;
  }
  .frst-row-last-img {
    width: 200px;
  }
  .nineth-row-last-img {
    width: 200px;
  }
  .last-row-last-img {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .card-img-overlay {
    padding-top: 65px;
  }
  .hero-section h1 {
    margin: 0;
    font-size: 35px;
  }
  .hero-section h2 {
    margin: 0;
    font-size: 18px;
  }
  .hero-section p {
    line-height: 1;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .hero-button a {
    font-size: 14px;
    padding: 8px 13px;
    border-radius: 30px;
  }
  .social-links {
    margin-bottom: 10px;
  }
  .hero-button {
    padding-top: 3px;
  }
  .homepage-row img {
    height: 200px;
  }
  .second-row {
    width: 200px;
  }
  .second-row-last-img {
    width: 200px;
  }
  .frst-row-last-img {
    width: 200px;
  }
  .nineth-row-last-img {
    width: 200px;
  }
  .last-row-last-img {
    width: 200px;
  }
}
@media (max-width: 399px) {
  .card-img-overlay {
    padding-top: 65px;
  }
  .hero-section h1 {
    margin: 0;
    font-size: 35px;
  }
  .hero-section h2 {
    margin: 0;
    font-size: 18px;
  }
  .hero-section p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .hero-button a {
    font-size: 14px;
    padding: 8px 13px;
    border-radius: 30px;
  }
  .social-links {
    margin-bottom: 10px;
  }
  .hero-button {
    padding-top: 3px;
  }
  .homepage-row img {
    height: 200px;
  }
  .second-row {
    width: 200px;
  }
  .second-row-last-img {
    width: 200px;
  }
  .frst-row-last-img {
    width: 200px;
  }
  .nineth-row-last-img {
    width: 200px;
  }
  .last-row-last-img {
    width: 200px;
  }
}
